* {
  margin: 0;
  padding: 0;
}
button {
  position: absolute;
  padding: 5px 20px;
  top: 50px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  color:white;
  background-color: black;
  cursor: pointer;
}
div {
  position: absolute;
  width: 0;
  height: 0;
  transition: 1s;
 
}
button:hover~div.gray{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 42vh;
  height: 42vh;
  
  background-color: gray;
}

}
button:hover~div.yellow{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(30deg);
  width: 30vh;
  height: 30vh;
 
  background-color:yellow;
}
button:hover~div.green{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(60deg);
  width: 30vh;
  height: 30vh;
 
  background-color:green;
}
button:hover~div.blue{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
  width: 30vh;
  height: 30vh;
 
  background-color:blue;
}
button:hover~div.red{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(120deg);
  width: 30vh;
  height: 30vh;
 
  background-color:red;

