* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(19, 158, 158);
}
.kinetic {
  position: relative;
  width: 200px;
  height: 200px;
}
.kinetic::before,
.kinetic::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-bottom-color: violet;
  box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.5);
  animation: rotateA 2s linear infinite 0.5s;
}
.kinetic::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}
@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0);
  }
  50%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }
  50%,
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
